<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <div th:replace="fragments/header"></div>
    <body class="bg-light pb-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <a class="logout-btn" href="/logout">Logout <span class="sr-only">(current)</span></a>
            </div>
        </nav>
        <div class="container col-md-10">

            <div class="card bg-white mt-5 mx-5 p-5">

                <div class="d-flex justify-content-between align-items-start mb-5">
                    <h3 class="display-4">Read News</h3>
                </div>

                <div class="post-box">
                </div>

                <div th:replace="fragments/footer"></div>

            </div>
        </div>
        <div aria-live="polite" aria-atomic="true" style="position: relative;">
            <div class="toast bg-success text-white" style="position: fixed; top: 500px; right: 20px;" id="alert" data-delay="5000">
                <div class="toast-header bg-success">
                    <strong class="mr-auto text-white">Update Success</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body bg-success">
                    Your data is updated!
                </div>
            </div>
        </div>
    </div>
    <script>
        var result = getUrlParameter('result');
        $(document).ready(function () {
        if (result == 'update_success') {
        $('#alert').toast('show');
        }
        });
        $.getJSON("/api/getnews/", function (result) {
        for (i = 0; i < result.length; i++){
            $(".post-box").append('<div class="post py-4"><div class="row"><div class="col-md-4"><img src="'+ result[i].poster +'" width="100%"/></div><div class="col-md-8 d-flex flex-column justify-content-beetwen"> <h3 class="post-title"> ' + result[i].judul + ' </h3><div class="post-detail"> <p class="category">' + result[i].tipe + ' </p><p class="time"> • ' + result[i].waktu + '</p></div><a href="/read/single?url=' + result[i].link + '">Read more..</a> </div></div></div>');
        }
        });
    </script>
</body>
</html>
