<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <div th:replace="fragments/header"></div>
    <body class="with-bg pb-5">
        <div class="container col-md-10">

            <div class="card bg-white mt-5 mx-5 p-5">

                <h3 class="display-4 mb-5">My Profile</h3>

                <!--                <div class="nav-profile d-flex mb-5">
                                    <a th:href="@{/profile/}" th:text="General" class="nav-profile-btn active"></a>
                                    <a th:href="@{/profile/address/}" th:text="Address" class="nav-profile-btn"></a>
                                    <a th:href="@{/profile/contact/}" th:text="Contact" class="nav-profile-btn"></a>
                                    <a th:href="@{/profile/currentoccupation/}" th:text="Occupation" class="nav-profile-btn"></a>
                                    <a th:href="@{/profile/education/}" th:text="Education" class="nav-profile-btn"></a>
                                </div>-->

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link nav-profile-btn  active" id="basic-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link nav-profile-btn" id="address-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link nav-profile-btn" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link nav-profile-btn" id="ocupation-tab" data-toggle="tab" href="#occupation" role="tab" aria-controls="occupation" aria-selected="false">Occupation</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link nav-profile-btn" id="education-tab" data-toggle="tab" href="#education" role="tab" aria-controls="education" aria-selected="false">education</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="basic-tab">
                        <div class="content pt-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="photo-section">
                                        <img src="/images/photo.jpg" class="photo">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <form action="@{/save}" method="post">
                                        <div th:each="as : ${basic}" class="editable">
                                            <div class="form-group row">
                                                <label for="Name" class="col-sm-3 col-form-label form-identifier">Name</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control plaintext" id="Name" th:value="*{as.name}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Email" class="col-sm-3 col-form-label form-identifier">Email</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control plaintext" id="Email" th:value="*{as.email}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Gender" class="col-sm-3 col-form-label form-identifier">Gender</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control plaintext" id="Gender" th:value="*{as.gender}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Birth" class="col-sm-3 col-form-label form-identifier">Birth</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control plaintext" id="birthday" th:value="*{as.birthDate}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="action-bar text-right">
                                            <a href="#" class="btn btn-info bg-my-color" id="editButton" onclick="editButton()">Edit Profile</a>
                                            <div class="hidden">
                                                <a href="#" class="btn btn-info bg-my-color" id="controlForm" onclick="saveButton()">Save Profile</a>
                                                <a href="#" class="btn btn-info btn-danger" id="controlForm" onclick="cancelButton()">Cancel</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="address-tab">
                        <div class="content pt-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="photo-section">
                                        <img src="/images/photo.jpg" class="photo">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <form action="@{/save}" method="post">
                                        <div th:each="as : ${address}" class="editable">
                                            <div class="form-group row">
                                                <label for="Name" class="col-sm-3 col-form-label form-identifier">Street 1</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control plaintext" id="street1" th:value="*{as.street1}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Email" class="col-sm-3 col-form-label form-identifier">Street 2</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control plaintext" id="street2" th:value="*{as.street2}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Gender" class="col-sm-3 col-form-label form-identifier">City</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control plaintext" id="city" th:value="*{as.city}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Birth" class="col-sm-3 col-form-label form-identifier">Province</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control plaintext" id="province" th:value="*{as.province}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Birth" class="col-sm-3 col-form-label form-identifier">Zip Code</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control plaintext" id="zipcode" th:value="*{as.zipCode}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="action-bar text-right">
                                            <a href="#" class="btn btn-info bg-my-color" id="editButton" onclick="editButton()">Edit Profile</a>
                                            <div class="hidden">
                                                <a href="#" class="btn btn-info bg-my-color" id="controlForm" onclick="saveButton()">Save Profile</a>
                                                <a href="#" class="btn btn-info btn-danger" id="controlForm" onclick="cancelButton()">Cancel</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="content pt-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="photo-section">
                                        <img src="/images/photo.jpg" class="photo">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <form action="@{/save}" method="post">
                                        <div th:each="as : ${contact}" class="editable">
                                            <div class="form-group row">
                                                <label for="Phone" class="col-sm-3 col-form-label form-identifier">Phone</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control plaintext" id="phone" th:value="*{as.phone}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Instagram" class="col-sm-3 col-form-label form-identifier">Instagram</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control plaintext" id="insagram" th:value="*{as.instagram}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Linkedin" class="col-sm-3 col-form-label form-identifier">Linkedin</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control plaintext" id="linkedin" th:value="*{as.linkedin}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Facebook" class="col-sm-3 col-form-label form-identifier">Facebook</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control plaintext" id="facebook" th:value="*{as.facebook}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="action-bar text-right">
                                            <a href="#" class="btn btn-info bg-my-color" id="editButton" onclick="editButton()">Edit Profile</a>
                                            <div class="hidden">
                                                <a href="#" class="btn btn-info bg-my-color" id="controlForm" onclick="saveButton()">Save Profile</a>
                                                <a href="#" class="btn btn-info btn-danger" id="controlForm" onclick="cancelButton()">Cancel</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="occupation" role="tabpanel" aria-labelledby="occupation-tab">
                        <div class="content pt-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="photo-section">
                                        <img src="/images/photo.jpg" class="photo">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <form action="@{/save}" method="post">
                                        <div th:each="as : ${occupation}" class="editable">
                                            <div class="form-group row">
                                                <label for="Website" class="col-sm-3 col-form-label form-identifier">Website</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control plaintext" id="website" th:value="*{as.website}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="CurrentCompany" class="col-sm-3 col-form-label form-identifier">Current Company</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control plaintext" id="currentCompany" th:value="*{as.currentCompany}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Job" class="col-sm-3 col-form-label form-identifier">Job</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control plaintext" id="job" th:value="*{as.job}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="action-bar text-right">
                                            <a href="#" class="btn btn-info bg-my-color" id="editButton" onclick="editButton()">Edit Profile</a>
                                            <div class="hidden">
                                                <a href="#" class="btn btn-info bg-my-color" id="controlForm" onclick="saveButton()">Save Profile</a>
                                                <a href="#" class="btn btn-info btn-danger" id="controlForm" onclick="cancelButton()">Cancel</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-tab">
                        <div class="content pt-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="photo-section">
                                        <img src="/images/photo.jpg" class="photo">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <form action="@{/save}" method="post">
                                        <div th:each="as : ${education}" class="editable">
                                            <div class="form-group row">
                                                <label for="Website" class="col-sm-3 col-form-label form-identifier">Major</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control plaintext" id="website" th:value="*{as.major}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="CurrentCompany" class="col-sm-3 col-form-label form-identifier">University</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control plaintext" id="currentCompany" th:value="*{as.university}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Job" class="col-sm-3 col-form-label form-identifier">Degree</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control plaintext" id="job" th:value="*{as.degree}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Job" class="col-sm-3 col-form-label form-identifier">Status</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control plaintext" id="job" th:value="*{as.status}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="action-bar text-right">
                                            <a href="#" class="btn btn-info bg-my-color" id="editButton" onclick="editButton()">Edit Profile</a>
                                            <div class="hidden">
                                                <a href="#" class="btn btn-info bg-my-color" id="controlForm" onclick="saveButton()">Save Profile</a>
                                                <a href="#" class="btn btn-info btn-danger" id="controlForm" onclick="cancelButton()">Cancel</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div th:replace="fragments/footer"></div>

            </div>
        </div>
    </div>
</body>
</html>
