<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <div th:replace="fragments/header"></div>
    <body class="with-bg pb-5">
        <div class="container col-md-10">

            <div class="card bg-white mt-5 mx-5 p-5">

                <h3 class="display-4 mb-5">My Profile</h3>

                <div th:replace="fragments/profile-navigation"></div>

                <div class="tab-content" id="myTabContent">
                    <div th:replace="profiles/basic"></div>
                    <div th:replace="profiles/address"></div>
                    <div th:replace="profiles/contact"></div>
                    <div th:replace="profiles/occupation"></div>
                    <div th:replace="profiles/education"></div>
                </div>



                <div th:replace="fragments/footer"></div>

            </div>
        </div>
    </div>
</body>
</html>
