
<ul class="nav nav-tabs" id="myTab" role="tablist" th:fragment="profile-navigation">
    <li class="nav-item" role="presentation">
        <a class="nav-link nav-profile-btn  active" id="basic-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link nav-profile-btn" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false">Address</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link nav-profile-btn" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link nav-profile-btn" id="ocupation-tab" data-toggle="tab" href="#occupation" role="tab" aria-controls="occupation" aria-selected="false">Occupation</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link nav-profile-btn" id="education-tab" data-toggle="tab" href="#education" role="tab" aria-controls="education" aria-selected="false">Education</a>
    </li>
    <li class="nav-item ml-auto" role="presentation">
        <a class="nav-link nav-profile-btn" id="education-tab" data-toggle="tab" href="#education" role="tab" aria-controls="education" aria-selected="false">Logout</a>
    </li>
</ul>