<div th:fragment="profile-navigation">                
    <div class="nav-profile d-flex mb-5">
        <a th:href="@{/profile/}" th:text="General" class="nav-profile-btn active"></a>
        <a th:href="@{/profil/address/}" th:text="Address" class="nav-profile-btn"></a>
        <a th:href="@{/profil/contact/}" th:text="Contact" class="nav-profile-btn"></a>
        <a th:href="@{/profil/currentoccupation/}" th:text="Occupation" class="nav-profile-btn"></a>
        <a th:href="@{/profil/education/}" th:text="Education" class="nav-profile-btn"></a>
    </div>
</div>