<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>

    <div th:replace="fragments/header"></div>

    <body class="with-bg pt-5 mt-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 mb-5">
                    <h1 class="display-4 text-white">Register new account</h1>
                </div>
                <div class="col-md-6 offset-md-3">
                    <form th:object="${person}" th:action="@{/register/perform_register}" method="post" class="login-form">
                        <div class="form-group">
                            <input type="text" name="birthDate" id="birthday" class="form-control" placeholder="Birthdate" required="required" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="currentCompany" class="form-control" placeholder="Current Company" required="required" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="degree" class="form-control" placeholder="Degree" required="required" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="Email" required="required" />
                        </div>
                        <div class="form-group">
                            <select name="gender" id="gender" class="form-control" placeholder="Gender" required="required" >
                                <option>Laki-laki</option>
                                <option>Perempuan</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="job" class="form-control" placeholder="Job" required="required" />
                        </div>
                        <div class="form-group">
                            <select name="major" id="major" class="form-control" placeholder="Major" required="required" >
                                <option th:each="as : ${major}" th:value="${as.name}" th:text="${as.name}"/>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Name" required="required" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Password" required="required" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone" class="form-control" placeholder="Phone" required="required" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="status" class="form-control" placeholder="Status" required="required" />
                        </div>
                        <div class="form-group">
                            <select name="university" id="university" class="form-control" placeholder="University" required="required" >
                                <option th:each="as : ${university}" th:value="${as.name}" th:text="${as.name}"/>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="Username" required="required" />
                        </div>
                        <div class="form-group">
                            <button name="submit" type="submit" class="btn btn-info bg-my-color btn-block">Register</button>
                        </div>
                    </form>
                    <div class="forgot-pass mb-3"><a href="/forgotpassword" class="fpass-link">Lost your password?</a></div>
                    <div class="divider text-white">or </div>
                    <div class="register-pass mt-4"><a href="/forgotpassword" class="fpass-link">Register</a></div>
                </div>
            </div>
        </div>

        <div aria-live="polite" aria-atomic="true" style="position: relative;">
            <div class="toast bg-danger" style="position: fixed; top: 500px; right: 20px;" id="alert" data-delay="5000">
                <div class="toast-header bg-danger text-white">
                    <!--                    <img src="/static/images/error.png" class="rounded mr-2" alt="...">-->
                    <strong class="mr-auto">Register Failed</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body bg-danger text-white">
                    Your username or password is wrong
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer"></div>
        <script>
            var errorStatus = getUrlParameter('error');

            $(document).ready(function () {
                if (errorStatus != null) {
                    $('.toast-body').empty();
                    $('.toast-body').append(errorStatus);
                    $('#alert').toast('show');
                }
            });

        </script>
    </body>
</html>