<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<html>

    <div th:replace="fragments/header"></div>

    <body class="with-bg pt-5 mt-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 mb-5">
                    <h1 class="display-4 text-white">Reset your password</h1>
                </div>
                <div class="col-md-6 offset-md-3">
                    <form th:object="${password}" th:action="@{/forgotpassword/perform_update/} + ${verificationCode}" method="post" class="fpass-form">
                        <div class="form-group">
                            <input type="text" name="email" class="form-control"  placeholder="Email"/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="password" class="form-control" id="password" placeholder="Password" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="confirm-password" class="form-control" id="confirm-password" placeholder="Confirm Password" />
                        </div>
                        <div class="form-group">
                            <button name="submit" type="submit" id="submit" class="btn btn-info bg-my-color btn-block">Reset Password</button>
                        </div>
                        <div id="message"></div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script>
        $('#password, #confirm-password').on('change paste keyup', function () {
            if ($('#password').val() === $('#confirm-password').val()) {
                $('#message').html('Matching').css('color', 'green');
                $('#submit').prop('disabled', false);
            } else {
                $('#message').html('Not Matching').css('color', 'red');
                $('#submit').prop('disabled', true);
            }
        });
    </script>
</html>
