<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>

    <div th:replace="fragments/header"></div>

    <body class="with-bg pt-5 mt-5">
        <div class="container col-md-10 ">
            <div class="row text-center">
                <div class="col-md-12 mb-5">
                    <h1 class="display-4 text-white">Forgot your password</h1>
                </div>
                <div class="col-md-6 offset-md-3">
                    <form th:object="${email}" th:action="@{/forgotpassword/perform_send_email}" method="post" class="fpass-form">
                        <div class="form-group">
                            <input type='text' name="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <button name="submit" type="submit" class="btn btn-info bg-my-color btn-block">Reset Password</button>
                        </div>
                    </form>
                    <div class="register-pass mt-4"><a href="/register" class="fpass-link">Register</a></div>
                </div>
            </div>
        </div>
    </body>
</html>